body {
  font-family: "Segoe UI";
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: black;
}

nav {
  font-size: 20px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 40px;
  padding-right: 20px;
  padding-left: 20px;
  font-family: Calibri;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.content {
  max-width: 900px;
  margin: 30px;
  padding: 0 20px;
}

h1,
h2,
h3 {
  font-weight: 500;
}

h1 {
  font-size: 32px;
}
h2 {
  font-size: 26px;
}
h3 {
  font-size: 22px;
}

.movie-card {
  padding: 20px;
  margin: 20px 0;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.movie-card h2 {
  margin-top: 0;
}
