<!DOCTYPE html>
<html>
  <head>
    <title>Movie Reviews</title>
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="manifest" href="/manifest.json" />
  </head>

  <body>
    <nav>
      <a href="/">Home</a>
      {% if not session["username"] %}
      <a href="/login">Login</a>
      <a href="/register">Register</a>
      {% else %}
      <a href="/logout">Logout</a>
      {% endif %}
    </nav>

    <div class="content">{% block content %} {% endblock %}</div>

    <script src="static/js/app.js"></script>
  </body>
</html>
